---
import NavLink from './NavLink.astro';
import ThemeToggle from './ThemeToggle.astro';
import siteConfig from '../data/site-config';

let navLinks = siteConfig.headerNavLinks || [];

// Remove the `Home` link so it doesn’t appear in the nav
navLinks = navLinks.filter((link) => link.text !== 'Home');
---

<nav class="min-h-10 pt-4 pb-12 relative sm:min-h-14 sm:pb-24 md:pt-8">
    <div class="w-full max-w-3xl mx-auto flex items-center justify-between relative">
        {/* 左側のグループ（ロゴ + ナビゲーションリンク） */}
        <div class="flex items-baseline gap-6">
            {/* ロゴ */}
            <a href="/" aria-label="ホーム" class="text-3xl font-sans font-semibold text-main no-underline hover:no-underline md:text-4xl"> Ithaca </a>

            {/* ナビゲーションリンク（中画面以上で表示） */}
            {
                navLinks.length > 0 && (
                    <ul class="hidden md:flex gap-6 items-baseline">
                        {navLinks.map((link) => (
                            <li class="py-1">
                                <NavLink
                                    class="text-xl font-sans text-main hover:underline hover:underline-offset-2 hover:decoration-1 md:text-base"
                                    href={link.href}
                                >
                                    {link.text}
                                </NavLink>
                            </li>
                        ))}
                    </ul>
                )
            }
        </div>

        {/* テーマ切替ボタン */}
        <div class="flex items-center">
            <ThemeToggle />
        </div>
    </div>
</nav>
