---
import NavLink from './NavLink.astro';
import ThemeToggle from './ThemeToggle.astro';
import siteConfig from '../data/site-config';

let navLinks = siteConfig.headerNavLinks || [];

// Remove the `Home` link so it doesn’t appear in the nav
navLinks = navLinks.filter((link) => link.text !== 'Home');
---

<nav class="min-h-10 pt-4 pb-12 relative sm:min-h-14 sm:pb-24 md:pt-8">
    {
        navLinks.length > 0 && (
            <div class="w-full max-w-3xl mx-auto relative">
                <ul id="menu-items" class="flex gap-6 items-baseline">
                    <li class="py-1">
                        <a href="/" class="text-3xl font-sans font-semibold text-main no-underline hover:no-underline md:text-4xl">
                            Ithaca
                        </a>
                    </li>
                    {navLinks.map((link) => (
                        <li class="py-1 menu">
                            <NavLink class="text-xl font- text-main hover:underline hover:underline-offset-2 hover:decoration-1 md:text-base" href={link.href}>
                                {link.text}
                            </NavLink>
                        </li>
                    ))}
                </ul>
            </div>
        )
    }
    <div class="absolute right-0 top-4 z-10 md:top-8">
        <ThemeToggle />
    </div>
</nav>

<style>
    @media (max-width: 767px) {
        .menu {
            @apply flex-col gap-1 absolute -top-2.5 -left-2.5 max-w-64 px-3 pt-16 pb-10 z-20 bg-main border border-dashed border-main invisible opacity-0;
            width: calc(100% + 1.25rem);
        }
    }
</style>
